.dropdown {
  position: relative;
  display: inline-block;
}
.dropdownContent {
  position: absolute;
  border-radius: 0.1rem;
  margin-top: 1.2rem;
  margin-left: -4rem;
  min-width: 80px;
  z-index: 1;
  background-color: #00000047;
  font-size: 0.8rem;
  &:hover {
    display: block;
  }
}
.langItem {
  margin: 1rem auto;
  padding: 0rem 1rem;
  border-right: 1px solid white;
  border-bottom: 1px solid rgb(255, 255, 255);
  &:hover {
    background-color: var(--color-primary);
    border-right: 1px solid var(--color-gold);
    border-bottom: 1px solid var(--color-gold);
  }
}
.langLink {
  color: var(--color-white);
  &:hover {
    color: var(--color-pirmary);
  }
}
